*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
.debug{
    border: 1px solid black;
}
body{
    background-color: #D3DBDB;
}
header{
    height: 100px;
    background-color:#009588 ;
}
#app{
    width: 90vw;
    height: 95vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_header{
    background-color: #EAEAEA;
    height: 60px;
}
.main_header img, .account img{
    min-width: 25px;
    max-width: 50px;
}
.fa-solid{
    font-size: 17px;
    padding: 2%;
    vertical-align: middle;
    color: grey;
}
p{
    margin-bottom: 0;
}
span.accesso{
    font-size: 0.7em;
    color: grey;
}
.main_header .col-8{
    border-left: 0.5px solid lightgrey;
}
.header-text{
    margin-top: 1%;
    margin-left: 5px;
    height: 100%;
}
.contenitore{
    height: calc(100% - 60px);
}
.account-side{
    height: 100%;
    background-color: #D3DBDB;
}
.notification{
    background-color: #83CAE9;
    height: 60px;
    font-size: 0.8em;
}
.bell-circle{
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50%;
    background-color: #F1FBFF;
}
.fa-bell-slash{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color:#83CAE9;
}
.search-bar{
    background-color: #FAFAFA;
    height: 40px;
}
.account{
    height: calc(100% - 100px);
}
.data-messaggio{
    position: absolute;
    right: 15px;
}
.account .data-messaggio{
    top: 2px;
}
.contact-list-box{
    overflow-y: auto;
    height: 100%;
}
.account .contact-list-box .contact-list{
    border-bottom: 0.5px solid lightgrey;
    padding: 5px;
    position: relative;
}


                    /* lato chat  */
.messages .data-messaggio{
    bottom: 2px;
}
.message-box{
    height: 100%;
    background-image: url(../img/mine.jpg);
    position: relative;
}
.messages{
    height: calc(100% - 40px);
    overflow:scroll;

}
.chat{
    width: 100%;
    position: absolute;
    bottom:0;
    right: 0;
    background-color: #F3EEE9;
    height: 40px;
}
.chat-input{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}
.active-account{
    background-color: #E9EBEB;
}
.messaggio-mio{
    float: right;
    background-color: #D2F4B6;
}
.messaggio-utente{
    float: left;
    background-color: #FFFFFF;
}
.messaggio-utente, .messaggio-mio{
    position: relative;
    clear: both;
    border-radius: 5px;
    min-width: 40%;
    padding: 15px;
    margin-top: 20px;

}
.elimina{
    border: 0.5px solid lightgrey;
    padding: 5px;
    position: absolute;
    bottom: -30px;
    background-color: white;
    border-radius: 10px;
    min-width: 40%;
    display: none;
}
.cursor{
    cursor: pointer;
}
.back-grey{
    background-color:lightgray;
}
@media screen and (max-width:770px){
    .message-box{
        display: none;
    }
    .right-header{
        display: none;
    }
}